.profiles {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.member {
    margin: 50px 50px;
    width: 300px;
    border-radius: 7px;
    border-width: 1px;
    border-color: #dadada;
    border-style: solid;
}

.member-image {
    border-radius: 7px;
}

.members {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media screen and (max-device-width: 430px) {
    .profiles {
        display: grid;
        justify-content: center;
    }

    .members {
        display: grid;
        justify-content: center;
    }
}